.inverse, %inverse{
    background-color: color(bg);
    color: color(body-light);
}

.center-with-mg, %center-with-mg{
    margin: 0 auto;
}

.center-with-translate, %center-with-translate{
    transform: translateX(-50%);
    left: 50%;
}

%arrow{
    content: "";    
    height: 0; 
    position: absolute;
    top: 0;
    width: 0; 
}

.arrow--left:before, %arrow--left:before{
    border-bottom: 1.5rem solid transparent;
    border-right: 1rem solid white;
    left: -0.5rem;
    @extend %arrow;    
}

.arrow--right:after, %arrow--right:after{
    border-bottom: 1.5rem solid transparent;
    border-left: 1rem solid  color(bubble);
    right: -0.5rem;
    @extend %arrow;
}

.user-status{
  background-color: color(success);
  position: absolute;
  right: 0;

  .profile-picture__wrapper &{
    color: white;
    border-radius: $user-status-big;
    font-family: font-family(alternate);
    font-size: font-size(ultra-small);
    font-weight: bold;
    height: $user-status-big;
    line-height: $user-status-big;
    text-align: center;
    text-transform: uppercase;
    top: 8%;
    width: $user-status-big;
  }
}

.link--absolute, %link--absolute{
  position: absolute;
  z-index: z-index(default);
  height: 100%;
  width: 100%;
}

.hidden{
  display: none;
}