/*---------------*/
/*   Variables   */
/*---------------*/
/*---------------*/
/*     Mixins    */
/*---------------*/
/*---------------*/
/*     Modules   */
/*---------------*/
.inverse, .nav-bottom__container .btn--add-as-friend, .nav-bar {
  background-color: #3c3c3c;
  color: #edebec; }

.center-with-mg, .profile-picture__wrapper, .input__wrapper {
  margin: 0 auto; }

.center-with-translate, .nav-bottom__container, .nav-bar__title {
  transform: translateX(-50%);
  left: 50%; }

.arrow--left:before, :not(.is-incoming-message) > .message__text:before, .arrow--right:after, .is-incoming-message > .message__text:after {
  content: "";
  height: 0;
  position: absolute;
  top: 0;
  width: 0; }

.arrow--left:before, :not(.is-incoming-message) > .message__text:before {
  border-bottom: 1.5rem solid transparent;
  border-right: 1rem solid white;
  left: -0.5rem; }

.arrow--right:after, .is-incoming-message > .message__text:after {
  border-bottom: 1.5rem solid transparent;
  border-left: 1rem solid #6ac2e5;
  right: -0.5rem; }

.user-status {
  background-color: #71CC51;
  position: absolute;
  right: 0; }
  .profile-picture__wrapper .user-status {
    color: white;
    border-radius: 3rem;
    font-family: "Helvetica";
    font-size: 0.5625rem;
    font-weight: bold;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    text-transform: uppercase;
    top: 8%;
    width: 3rem; }

.link--absolute, .message__link {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%; }

* {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body, html {
  color: #3c3c3c;
  font-size: 1.25rem;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%; }

body {
  padding-top: 3rem; }

.container, main, .nav-bottom__container, .nav-bar__container {
  margin: 0 auto;
  max-width: 765px;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }
  @media screen and (min-width: 765px) {
    .container, main, .nav-bottom__container, .nav-bar__container {
      padding-left: 1rem;
      padding-right: 1rem; } }

.nav-bottom__container {
  bottom: 0;
  height: 2rem;
  margin-bottom: 0.5rem;
  position: fixed;
  text-align: center; }
  .nav-bottom__container .btn--add-as-friend {
    height: 2rem;
    text-transform: uppercase;
    width: 100%; }
    .is-friend .nav-bottom__container .btn--add-as-friend {
      background-color: #63393B; }

.nav-bar {
  height: 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }
  .nav-bar__container {
    align-items: center;
    display: flex;
    height: 100%;
    position: relative; }
  .nav-bar__title {
    position: absolute;
    font-family: "Helvetica";
    font-size: 1.5rem;
    font-weight: bold; }

[id^=view] {
  display: none;
  /* The last view is always visible if other views are not targets */ }
  [id^=view]:last-child {
    display: block; }
  [id^=view]:target {
    display: block; }
  [id^=view]:target + [id^=view] {
    display: none; }

#view--profile .profile-picture {
  padding: 0.5rem; }

#view--chat {
  padding-bottom: 2rem; }

.btn {
  border: 0;
  background: transparent; }

.btn--link {
  cursor: pointer;
  display: inline-block;
  text-decoration: none; }
  .btn--link:link, .btn--link > a {
    line-height: 0.1; }

.btn--icon:focus {
  cursor: pointer;
  outline: none; }

.btn--add-as-favorite .icon--star {
  color: white;
  font-size: 1rem;
  text-shadow: 2px 2px 3px #e3e1e1, -2px -2px 3px #e3e1e1; }
  .is-favorite .btn--add-as-favorite .icon--star {
    color: #F6BE00; }

.biography__wrapper .btn--add-as-favorite {
  position: absolute;
  right: 0; }

.btn--nav-bar {
  line-height: 0.1; }
  .btn--nav-bar [class^="icon--"], .btn--nav-bar [class*=" icon--"] {
    font-size: 1.5rem;
    color: white; }

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.ttf?g3ijaf") format("truetype"), url("../fonts/icons.woff?g3ijaf") format("woff"), url("../fonts/icons.svg?g3ijaf#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon--"], [class*=" icon--"] {
  /* use !important to prevent issues with browser extensions that change ../fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon--back:before {
  content: "\e900"; }

.icon--star:before {
  content: "\e9d9"; }

body {
  background-color: #edebec;
  transition: background-color 0.5s ease; }

body.is-friend {
  background-color: #F6DCE4; }

/*---------------*/
/*     Views    */
/*---------------*/
.biography__title {
  font-family: "Helvetica";
  font-size: 1rem;
  position: relative; }

.biography__location {
  color: #F86F9D;
  font-size: 0.75rem;
  font-weight: bold; }

.biography__description {
  padding-top: 0.5rem;
  font-size: 0.75rem; }

.biography__image {
  max-width: 250px; }

.profile-picture__wrapper {
  max-width: 250px;
  max-height: 250px;
  position: relative; }
  .profile-picture__wrapper .img-wrapper {
    border-radius: 250px;
    max-width: 250px;
    max-height: 250px;
    overflow: hidden; }

.chat__container {
  position: relative; }

.chat__messages {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }

.chat__message {
  display: block;
  padding-left: 0;
  position: relative; }
  .chat__message:last-child {
    padding-bottom: 3rem; }

.input__wrapper {
  position: relative;
  width: calc( 100% - 2rem); }

.input__field {
  border: 0;
  padding: 0.5rem;
  width: 100%; }
  .input__field:focus {
    outline: 0; }

.message {
  position: relative; }
  .message__text {
    background-color: white;
    border-radius: 4px;
    display: block;
    font-size: 0.75rem;
    font-family: "Helvetica";
    margin: 1rem 2.5rem;
    padding: 1rem;
    position: relative; }
    .is-incoming-message > .message__text {
      background-color: #6ac2e5;
      color: white; }
  .message .image-wrapper {
    position: absolute;
    height: 2.25rem;
    width: 2.25rem; }
  .message.is-incoming-message .image-wrapper {
    right: 0; }
  .message__picture {
    display: block;
    position: absolute;
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 2.25rem; }
