@mixin media-from($from){
    $breakpoint: map-get($map: $breakpoints, $key: $from);
    @media screen and (min-width: $breakpoint){
        @content;
    }
}

@mixin media-until($until){
    $breakpoint: map-get($map: $breakpoints, $key: $until);
    @media screen and (max-width: #{$breakpoint}-1px){
        @content;
    }
}

@mixin media-between($from, $until){
    $breakpointFrom: map-get($map: $breakpoints, $key: $from);
    $breakpointUntil: map-get($map: $breakpoints, $key: $until);
    @media screen and (min-width: $breakpointFrom) and (max-width: #{$breakpointUntil}-1px){
        @content;
    }
}

@function z-index($index-name){
    @return map-get($z-index, $index-name);
}