.biography{    
    .btn--add-as-favorite{
        position: absolute;
        right: 0;
    }
    
    &__title{
        font-family: font-family(alternate);
        font-size: font-size(small);
        position: relative;
    }
    &__location{
        color: color(accent);
        font-size: font-size(extra-small);
        font-weight: bold;
    }

    &__description{
        padding-top: 0.5rem;
        font-size: font-size(extra-small);
    }
} 

