.btn{
    border: 0;
    background: transparent;
}

.icon--star{
    color: white;
    font-size: font-size(small);
    text-shadow: 2px 2px 3px color(shadow), -2px -2px 3px color(shadow);

    .is-active &{
        color: color(mimosa);
    }
}

.btn--nav-bar{
    line-height: 0.1;

    [class^="icon--"], [class*=" icon--"]{
        font-size: font-size(big);
        color: white;
    }
}