*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body, html{
    background-color: color(bg-light);
    color: color(body);
    font-size: font-size(normal);
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    padding-top: $nav-bar-height;
}

.container, %container{
    margin: 0 auto;
    max-width: 765px;
    width: 100%;
    
    padding-left: $container-padding-sm;
    padding-right: $container-padding-sm;

    @include media-from(md){
        padding-left: $container-padding-lg;
        padding-right: $container-padding-lg;
    }    
}

main{    
    padding-bottom: $nav-bottom-height+1rem;
    height: 100%;
    position: relative;
    @extend %container;
}

.nav-bottom__container{
    bottom: 0;
    height: $nav-bottom-height;
    margin-bottom: 0.5rem;
    position: fixed;
    text-align: center;
    @extend %container;
    @extend %center-with-translate;
    
    .btn--add-as-friend{ 
        background-color: color(eclipse);
        height: $nav-bottom-height;
        text-transform: uppercase;
        width: 100%;
        @extend %inverse;
    }
}