[id^=view]{
    display: none;

    /* The last view is always visible if other views are not targets */
    &:last-child{
        display: block;
    }

    &:target {
        display: block;
    }

    &:target + [id^=view]{
        display: none;
    }
}

$profile-picture-max-size: 200px;
.img-wrapper{
    margin-bottom: 1rem;
    margin-top: 2rem;
    @extend %center-with-mg;
    .profile-picture &{
        max-width: $profile-picture-max-size;
        max-height: $profile-picture-max-size;
        border-radius: $profile-picture-max-size;
        overflow: hidden;
        img{
            max-width: $profile-picture-max-size;
        }
    }
}

