$pantone: (
    wan-white: #e3e1e1,
    lily-white: #edebec,
    malibu: #6ac2e5,
    eclipse: #3c3c3c,
    tickle-me-pink: #F86F9D,
    mimosa: #F6BE00,
    green-flash: #71CC51
);

$colors : (
    body: eclipse,
    body-light: lily-white,
    bg: eclipse,
    bg-light: lily-white,
    accent: tickle-me-pink,
    shadow: wan-white
);