$nav-bar-height: 3rem;
$nav-bottom-height: 2rem;
$container-padding-sm: 0.5rem;
$container-padding-lg: 1rem;

$breakpoints: (
    xs: 240px,
    sm: 320px,
    md: 765px,
    lg: 1024px,
    xg: 1280px    
);

$z-index: (
    default: 1,
    status: 2,
    navbar: 3,
)